# Дневник

--------------------------------------------

1) Сначала я решил попробовать без генерации новых фичей и без подкрутки параметров запустить LightGBM и посмотреть, что будет. Скор 0.720
При этом пока еще нет ни генерации новых признаков, ни использования таблицы поиска и тд. Попробуем добавить.

2) Просто запускаем код из "baseline_1_pandas.ipynb" и получаем обещаный скор 0.817

3) Оптюнил 10 минут, безрезультатно. Буду придумывать новые признаки. Думаю начать с кластеризации и knn. 

4) Сначала решил просто расширить плавающее окно с 4 до 5 месяцев, результат 0.8192

--------------------------------------------

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltimport
import matplotlib as mpl, seaborn as sns
import matplotlib.pyplot as plt

# настройка размера шрифта легенды
mpl.rcParams['legend.title_fontsize'] = 15
mpl.rcParams['legend.fontsize'] = 15

import warnings
warnings.filterwarnings('ignore')

In [28]:
df_actions = pd.read_parquet("actions_history/part-00052-554bab9f-fda0-44cc-935e-2114ebd268b9-c000.snappy.parquet")

df_actions.head(5)

,user_id,timestamp,product_id,page_product_id,action_type_id,widget_name_id
0,2346229,2024-03-11 13:35:13,148481529,1.487368e+08,1,6
1,1039167,2024-04-14 18:59:43,167653046,1.391982e+09,1,6
2,2346229,2024-03-27 13:10:44,266202966,1.621779e+08,1,6
3,2774405,2024-04-04 08:47:07,248896971,4.649541e+08,1,6
4,7064286,2024-06-11 19:30:22,321861178,8.577713e+08,1,6

In [29]:
df_search = pd.read_parquet("search_history/part-00000-858f060b-ea82-431a-bbdb-cac1419dd3eb-c000.snappy.parquet")

df_search.head(5)

,user_id,timestamp,search_query,action_type_id,widget_name_id
0,1403825,2024-03-02 19:16:19,колонка алиса,4,23
1,10278224,2024-07-29 12:10:06,батончик,4,23
2,8162261,2024-04-24 06:27:10,hipp combiotic 1,4,23
3,10909038,2024-07-12 04:00:02,бриошь,4,23
4,9148523,2024-04-28 06:58:12,нарезка,4,23

In [30]:
def get_df_info(df: pd.DataFrame, /, thr=0.5, *args, **kwargs) -> pd.DataFrame:
    '''
    Описание:
    Функция выводит статистику о колонках датафрейма в виде датафрейма.
    Результат содержит информацию о типе данных, об уникальных значениях,
    о количестве NaN, нулей и пустых строк,
    о максимальном значении и его частоте,
    два различных примера данных,
    степень адекватности фичи.
    ...

    df: исходный датафрейм,
    thr: граничное значения для опредления адекватность фичи.
    ...

    returns: pd.DataFrame со сборной информацией о датафрейме.
    '''
    
    df_size = df.shape[0]
    columns = df.columns
    numeric_columns = df.select_dtypes(np.number).columns
    string_columns = np.concatenate((df.select_dtypes('string').columns, df.select_dtypes('object').columns))
    result_columns = ["datatype", "nunique", "nan", "zero", "empty_str", "vc_max", "vc_max_freq", "example_1", "example_2", "trash_score"]
    result_dict = dict(zip(result_columns, [[] for _ in range(len(result_columns))]))
    
    for column in columns:
        
        result_dict["datatype"].append(df[column].dtype.name)
        result_dict["nunique"].append(df[column].unique().size)
        
        tmp = df[column].isna().sum()
        push_nan_tmp = tmp / df_size
        push = f"n: {push_nan_tmp: 0.3f}" if tmp > 0 else "-1"
        result_dict["nan"].append(push)

        tmp = column in numeric_columns
        if tmp:
            tmp = df[column].eq(0).sum()
            push_zero_tmp = tmp / df_size
            push = f"z: {push_zero_tmp: 0.3f}" if tmp > 0 else "-1"
        else:
            push_zero_tmp = 0
            push = "-1"
        result_dict["zero"].append(push)

        tmp = column in string_columns
        if tmp:
            tmp = df[column].eq("").sum()
            push_empty_str_tmp = tmp / df_size
            push = f"e: {push_empty_str_tmp: 0.3f}" if tmp > 0 else "-1"
        else:
            push_empty_str_tmp = 0
            push = "-1"
        result_dict["empty_str"].append(push)

        push = df[column].value_counts(dropna=True)
        push_index = push.index[0]
        push_freq = push.values[0]
        result_dict["vc_max"].append(push_index)
        push_vc_max_freq_tmp = push_freq / df_size
        result_dict["vc_max_freq"].append(f"n: {push_vc_max_freq_tmp: 0.3f}")

        tmp = df[column].dropna().unique()
        match tmp.size:
            case 0:
                push = 2 * ["No example"]
            case 1:
                push = [tmp[0], "No example"]
            case _:
                push = [tmp[0], tmp[1]]
        result_dict["example_1"].append(push[0])
        result_dict["example_2"].append(push[1])

        tmp = max(
            push_nan_tmp + push_zero_tmp + push_empty_str_tmp,\
            push_vc_max_freq_tmp if push_vc_max_freq_tmp > thr else 0,
        )
        push = f"{tmp: 0.3f}" if tmp > 0 else "-1"
        result_dict["trash_score"].append(push)

    result_df = pd.DataFrame(result_dict, index=columns).sort_values("trash_score", key=lambda x: -np.float_(x))
    
    return result_df

In [31]:
# Результат

from IPython.display import display

display(get_df_info(df_actions).style.bar(subset=['nunique'], cmap="bwr"))

In [32]:
# Результат

from IPython.display import display

display(get_df_info(df_search).style.bar(subset=['nunique'], cmap="bwr"))

In [33]:
df_actions[df_actions['timestamp'] >= '2024-04-28 23:59:59']

,user_id,timestamp,product_id,page_product_id,action_type_id,widget_name_id
4,7064286,2024-06-11 19:30:22,321861178,8.577713e+08,1,6
6,2397776,2024-05-18 13:51:43,749509687,1.423021e+09,1,6
7,2346229,2024-05-23 20:02:53,173187079,2.428874e+08,1,6
8,2346229,2024-06-10 22:06:07,148590542,6.468289e+08,1,6
9,5703773,2024-07-03 11:39:39,1213043165,1.451046e+09,1,6
...,...,...,...,...,...,...
110063,11144632,2024-05-12 11:41:00,1214453307,7.125483e+08,5,6
110064,7914838,2024-07-05 05:00:06,857864096,1.463954e+08,5,6
110065,10861126,2024-07-01 02:04:08,320362167,6.765257e+08,5,6
110066,9228901,2024-05-10 22:08:28,200758355,1.459232e+08,5,6
110067,9646676,2024-07-02 10:23:58,733591169,5.991311e+08,5,6

# Base code

In [34]:
import polars as pl
import pandas as pd
import numpy as np
import catboost
import os
from datetime import date, timedelta

In [35]:
test_start_date = date(2024, 8, 1)
val_start_date = date(2024, 7, 1)
val_end_date = date(2024, 7, 31)
train_end_date = date(2024, 6, 30)
data_path = './'

In [36]:
actions_history = pd.read_parquet(os.path.join(data_path, 'actions_history'))
search_history = pd.read_parquet(os.path.join(data_path, 'search_history'))
product_information = pd.read_csv(os.path.join(data_path, 'product_information.csv'))

In [37]:
pd.read_csv(os.path.join(data_path, 'action_type_info.csv'))

  action_type  action_type_id
0       click               1
1    favorite               2
2       order               3
3      search               4
4     to_cart               5
5        view               6

In [38]:
actions_history = actions_history[actions_history['timestamp'] >= '2024-01-01 00:00:00']
search_history = search_history[search_history['timestamp'] >= '2024-01-01 00:00:00']

In [39]:
val_target = (
    actions_history[
        (actions_history['timestamp'].dt.date >= val_start_date) &
        (actions_history['timestamp'].dt.date <= val_end_date)
    ]
    .assign(has_order=lambda x: (x['action_type_id'] == 3).astype(int))
    .groupby('user_id', as_index=False)
    .agg(target=('has_order', 'max'))
)

# Simple pipeline

## Feats

In [40]:
actions_aggs = {}
actions_id_to_suf = {
    1: "click",
    2: "favorite",
    3: "order",
    5: "to_cart",
}

for id_, suf in actions_id_to_suf.items():
    filtered_data = actions_history[
        (actions_history['timestamp'].dt.date <= train_end_date) &
        (actions_history['timestamp'].dt.date >= train_end_date - timedelta(days=30 * 5)) &
        (actions_history['action_type_id'] == id_)
    ]
    
    merged_data = filtered_data.merge(
        product_information[['product_id', 'discount_price']],
        on='product_id',
        how='left'
    )
    
    aggs = merged_data.groupby('user_id', as_index=False).agg(
        num_products=('product_id', 'count'),
        sum_discount_price=('discount_price', 'sum'),
        max_discount_price=('discount_price', 'max'),
        last_time=('timestamp', 'max'),
        first_time=('timestamp', 'min')
    )
    
    aggs = aggs.rename(columns={
        'num_products': f'num_products_{suf}',
        'sum_discount_price': f'sum_discount_price_{suf}',
        'max_discount_price': f'max_discount_price_{suf}',
        'last_time': f'last_{suf}_time',
        'first_time': f'first_{suf}_time'
    })
    
    aggs[f'days_since_last_{suf}'] = (pd.to_datetime(val_start_date) - aggs[f'last_{suf}_time']).dt.days
    aggs[f'days_since_first_{suf}'] = (pd.to_datetime(val_start_date) - aggs[f'first_{suf}_time']).dt.days
    
    aggs = aggs[[
        'user_id',
        f'num_products_{suf}',
        f'sum_discount_price_{suf}',
        f'max_discount_price_{suf}',
        f'days_since_last_{suf}',
        f'days_since_first_{suf}'
    ]]
    
    actions_aggs[id_] = aggs

In [41]:
# search_aggs
id_ = 4
suf = 'search'

filtered_data = search_history[
    (search_history['action_type_id'] == id_) &
    (search_history['timestamp'].dt.date <= train_end_date) &
    (search_history['timestamp'].dt.date >= train_end_date - timedelta(days=30 * 5))
]
aggs = filtered_data.groupby('user_id', as_index=False).agg(
    num_search=('search_query', 'count'),
    last_search_time=('timestamp', 'max'),
    first_search_time=('timestamp', 'min')
)

aggs = aggs.rename(columns={
    'num_search': f'num_{suf}',
    'last_search_time': f'last_{suf}_time',
    'first_search_time': f'first_{suf}_time'
})

aggs[f'days_since_last_{suf}'] = (pd.to_datetime(val_start_date) - aggs[f'last_{suf}_time']).dt.days
aggs[f'days_since_first_{suf}'] = (pd.to_datetime(val_start_date) - aggs[f'first_{suf}_time']).dt.days

aggs = aggs[[
    'user_id',
    f'num_{suf}',
    f'days_since_last_{suf}',
    f'days_since_first_{suf}'
]]

actions_aggs[id_] = aggs

In [42]:
df = val_target

for _, actions_aggs_df in actions_aggs.items():
    df = df.merge(actions_aggs_df, on='user_id', how='left')

In [43]:
df_pd = df
mask = df_pd.user_id % 10 <= 6

In [44]:
cols = [
    'num_products_click', 
    'sum_discount_price_click', 'max_discount_price_click',
    'days_since_last_click', 'days_since_first_click',
    'num_products_favorite', 'sum_discount_price_favorite',
    'max_discount_price_favorite', 'days_since_last_favorite',
    'days_since_first_favorite', 'num_products_order',
    'sum_discount_price_order', 'max_discount_price_order',
    'days_since_last_order', 'days_since_first_order',
    'num_products_to_cart', 'sum_discount_price_to_cart',
    'max_discount_price_to_cart', 'days_since_last_to_cart',
    'days_since_first_to_cart', 'num_search', 'days_since_last_search',
    'days_since_first_search'
]

In [45]:
train_pool = catboost.Pool(
    df_pd.loc[mask, cols],
    label=df_pd.loc[mask].target,
)
eval_pool = catboost.Pool(
    df_pd.loc[~mask, cols],
    label=df_pd.loc[~mask].target,
)

In [46]:
train_pool.shape, eval_pool.shape

((1311636, 23), (563320, 23))

--------------------------

-----------------------------------------

-----------------------------------------

In [47]:
import optuna
from optuna.samplers import TPESampler

def objective(trial):
    params = {
        'iterations': trial.suggest_int('iterations', 100, 1000),
        'depth': trial.suggest_int('depth', 4, 10),
        'learning_rate': trial.suggest_float('learning_rate', 0.01, 0.3, log=True),
        'l2_leaf_reg': trial.suggest_float('l2_leaf_reg', 1e-3, 10.0, log=True),
        'random_strength': trial.suggest_float('random_strength', 1e-3, 10.0, log=True),
        'bagging_temperature': trial.suggest_float('bagging_temperature', 0.0, 1.0),
        'border_count': trial.suggest_int('border_count', 32, 255),
        'random_state': 42,
        'eval_metric': 'AUC',
        'loss_function': 'Logloss',
        'task_type': 'CPU',
        'early_stopping_rounds': 50,
    }
    
    model = catboost.CatBoostClassifier(**params)
    model.fit(
        train_pool,
        eval_set=eval_pool,
        verbose=False,
    )
    return model.get_best_score()['validation']['AUC']

# Оптимизация (10 минут)
study = optuna.create_study(
    direction='maximize',
    sampler=TPESampler(seed=42)
)
study.optimize(objective, timeout=600)  # 600 секунд = 10 минут

# Вывод лучших параметров
print("Best trial:")
trial = study.best_trial
print(f"  AUC: {trial.value}")
print("  Params: ")
for key, value in trial.params.items():
    print(f"    {key}: {value}")

# Обучение финальной модели с лучшими параметрами
best_params = {
    'iterations': trial.params['iterations'],
    'depth': trial.params['depth'],
    'learning_rate': trial.params['learning_rate'],
    'l2_leaf_reg': trial.params['l2_leaf_reg'],
    'random_strength': trial.params['random_strength'],
    'bagging_temperature': trial.params['bagging_temperature'],
    'border_count': trial.params['border_count'],
    'random_state': 42,
    'eval_metric': 'AUC',
    'loss_function': 'Logloss',
    'task_type': 'CPU',
}

model = catboost.CatBoostClassifier(**best_params)

[I 2025-03-25 22:32:36,902] A new study created in memory with name: no-name-661d4c26-d4f5-48a0-bd08-a3e967fd5f2e
[I 2025-03-25 22:33:05,423] Trial 0 finished with value: 0.7588615597421022 and parameters: {'iterations': 437, 'depth': 10, 'learning_rate': 0.1205712628744377, 'l2_leaf_reg': 0.24810409748678125, 'random_strength': 0.004207988669606638, 'bagging_temperature': 0.15599452033620265, 'border_count': 45}. Best is trial 0 with value: 0.7588615597421022.
[I 2025-03-25 22:33:31,543] Trial 1 finished with value: 0.7587966500144367 and parameters: {'iterations': 880, 'depth': 8, 'learning_rate': 0.11114989443094977, 'l2_leaf_reg': 0.0012087541473056963, 'random_strength': 7.579479953348009, 'bagging_temperature': 0.8324426408004217, 'border_count': 79}. Best is trial 0 with value: 0.7588615597421022.
[I 2025-03-25 22:33:50,914] Trial 2 finished with value: 0.7568765817460792 and parameters: {'iterations': 263, 'depth': 5, 'learning_rate': 0.028145092716060652, 'l2_leaf_reg': 0.12561043700013558, 'random_strength': 0.05342937261279776, 'bagging_temperature': 0.2912291401980419, 'border_count': 169}. Best is trial 0 with value: 0.7588615597421022.
[I 2025-03-25 22:34:09,388] Trial 3 finished with value: 0.7571139339906002 and parameters: {'iterations': 225, 'depth': 6, 'learning_rate': 0.03476649150592621, 'l2_leaf_reg': 0.06672367170464207, 'random_strength': 1.382623217936987, 'bagging_temperature': 0.19967378215835974, 'border_count': 147}. Best is trial 0 with value: 0.7588615597421022.
[I 2025-03-25 22:34:50,411] Trial 4 finished with value: 0.7590341607070289 and parameters: {'iterations': 633, 'depth': 4, 'learning_rate': 0.07896186801026692, 'l2_leaf_reg': 0.004809461967501573, 'random_strength': 0.0018205657658407262, 'bagging_temperature': 0.9488855372533332, 'border_count': 248}. Best is trial 4 with value: 0.7590341607070289.
[I 2025-03-25 22:35:55,495] Trial 5 finished with value: 0.7581602718175187 and parameters: {'iterations': 828, 'depth': 6, 'learning_rate': 0.013940346079873234, 'l2_leaf_reg': 0.5456725485601477, 'random_strength': 0.057624872164786026, 'bagging_temperature': 0.12203823484477883, 'border_count': 142}. Best is trial 4 with value: 0.7590341607070289.
[I 2025-03-25 22:36:17,136] Trial 6 finished with value: 0.7575197989829909 and parameters: {'iterations': 130, 'depth': 10, 'learning_rate': 0.024112898115291985, 'l2_leaf_reg': 0.4467752817973907, 'random_strength': 0.017654048052495083, 'bagging_temperature': 0.5200680211778108, 'border_count': 154}. Best is trial 4 with value: 0.7590341607070289.
[I 2025-03-25 22:37:02,086] Trial 7 finished with value: 0.7590489260238465 and parameters: {'iterations': 266, 'depth': 10, 'learning_rate': 0.13962563737015762, 'l2_leaf_reg': 5.727904470799623, 'random_strength': 3.7958531426706403, 'bagging_temperature': 0.5978999788110851, 'border_count': 238}. Best is trial 7 with value: 0.7590489260238465.
[I 2025-03-25 22:37:15,129] Trial 8 finished with value: 0.7539000501602543 and parameters: {'iterations': 179, 'depth': 5, 'learning_rate': 0.011662890273931383, 'l2_leaf_reg': 0.02001342062287998, 'random_strength': 0.03586816498627549, 'bagging_temperature': 0.2713490317738959, 'border_count': 217}. Best is trial 7 with value: 0.7590489260238465.
[I 2025-03-25 22:37:44,824] Trial 9 finished with value: 0.7586833954939977 and parameters: {'iterations': 421, 'depth': 5, 'learning_rate': 0.06333268775321843, 'l2_leaf_reg': 0.0036618192203924276, 'random_strength': 1.6172900811143154, 'bagging_temperature': 0.07455064367977082, 'border_count': 253}. Best is trial 7 with value: 0.7590489260238465.
[I 2025-03-25 22:38:01,106] Trial 10 finished with value: 0.7592262173210624 and parameters: {'iterations': 562, 'depth': 8, 'learning_rate': 0.2704729722717779, 'l2_leaf_reg': 6.615455431119847, 'random_strength': 0.40501042591416037, 'bagging_temperature': 0.5752080668152728, 'border_count': 195}. Best is trial 10 with value: 0.7592262173210624.
[I 2025-03-25 22:38:18,478] Trial 11 finished with value: 0.7591967285117439 and parameters: {'iterations': 662, 'depth': 8, 'learning_rate': 0.2975261995001501, 'l2_leaf_reg': 9.583367070522575, 'random_strength': 0.5208160520832837, 'bagging_temperature': 0.5745188822465942, 'border_count': 194}. Best is trial 10 with value: 0.7592262173210624.
[I 2025-03-25 22:38:32,943] Trial 12 finished with value: 0.7590514225859227 and parameters: {'iterations': 688, 'depth': 8, 'learning_rate': 0.29515574329354227, 'l2_leaf_reg': 9.908876466960862, 'random_strength': 0.5021774318257215, 'bagging_temperature': 0.712014509447227, 'border_count': 196}. Best is trial 10 with value: 0.7592262173210624.
[I 2025-03-25 22:38:50,885] Trial 13 finished with value: 0.7591966125509815 and parameters: {'iterations': 993, 'depth': 8, 'learning_rate': 0.26000656169493486, 'l2_leaf_reg': 2.778543146255285, 'random_strength': 0.19383470782222553, 'bagging_temperature': 0.3981091159906566, 'border_count': 191}. Best is trial 10 with value: 0.7592262173210624.
[I 2025-03-25 22:39:06,678] Trial 14 finished with value: 0.759184252750013 and parameters: {'iterations': 507, 'depth': 9, 'learning_rate': 0.19248549344840993, 'l2_leaf_reg': 1.9773621674241366, 'random_strength': 0.2996894878961026, 'bagging_temperature': 0.6620954128253227, 'border_count': 113}. Best is trial 10 with value: 0.7592262173210624.
[I 2025-03-25 22:39:35,102] Trial 15 finished with value: 0.7593488461622948 and parameters: {'iterations': 680, 'depth': 7, 'learning_rate': 0.18941284157334617, 'l2_leaf_reg': 1.7071203434692397, 'random_strength': 0.7196535854005556, 'bagging_temperature': 0.413414099692713, 'border_count': 200}. Best is trial 15 with value: 0.7593488461622948.
[I 2025-03-25 22:40:08,533] Trial 16 finished with value: 0.7593297104939869 and parameters: {'iterations': 778, 'depth': 7, 'learning_rate': 0.16290597147790623, 'l2_leaf_reg': 1.4553150489952984, 'random_strength': 1.4012366471299678, 'bagging_temperature': 0.4152331370760913, 'border_count': 216}. Best is trial 15 with value: 0.7593488461622948.
[I 2025-03-25 22:40:31,418] Trial 17 finished with value: 0.7592177216668453 and parameters: {'iterations': 781, 'depth': 7, 'learning_rate': 0.17012035619692192, 'l2_leaf_reg': 1.1072448678802878, 'random_strength': 1.4917586146416881, 'bagging_temperature': 0.4221803734878212, 'border_count': 222}. Best is trial 15 with value: 0.7593488461622948.
[I 2025-03-25 22:41:23,498] Trial 18 finished with value: 0.7595873345375499 and parameters: {'iterations': 949, 'depth': 7, 'learning_rate': 0.08503441901354593, 'l2_leaf_reg': 1.0104821651596647, 'random_strength': 9.056213948070356, 'bagging_temperature': 0.4047564375498465, 'border_count': 112}. Best is trial 18 with value: 0.7595873345375499.
[I 2025-03-25 22:42:24,148] Trial 19 finished with value: 0.7595120568736874 and parameters: {'iterations': 988, 'depth': 6, 'learning_rate': 0.08569904213903062, 'l2_leaf_reg': 0.06760861110275725, 'random_strength': 4.389038741899158, 'bagging_temperature': 0.327490587642821, 'border_count': 114}. Best is trial 18 with value: 0.7595873345375499.
[I 2025-03-25 22:43:38,424] Trial 20 finished with value: 0.7593917342042111 and parameters: {'iterations': 1000, 'depth': 6, 'learning_rate': 0.04263494650162085, 'l2_leaf_reg': 0.03367463034551495, 'random_strength': 7.647837048692016, 'bagging_temperature': 0.0014187512820867387, 'border_count': 103}. Best is trial 18 with value: 0.7595873345375499.

Best trial:
  AUC: 0.7595873345375499
  Params:
    iterations: 949
    depth: 7
    learning_rate: 0.08503441901354593
    l2_leaf_reg: 1.0104821651596647
    random_strength: 9.056213948070356
    bagging_temperature: 0.4047564375498465
    border_count: 112

-----------------------------------------

-----------------------------------------

-----------------------------------------

In [48]:
model.fit(
    train_pool, 
    eval_set=eval_pool,
    use_best_model=True,
    verbose=10,
    early_stopping_rounds=50,
)

0:	test: 0.7398496	best: 0.7398496 (0)	total: 90.5ms	remaining: 1m 25s
10:	test: 0.7508901	best: 0.7508901 (10)	total: 1.05s	remaining: 1m 29s
20:	test: 0.7523384	best: 0.7523384 (20)	total: 2.01s	remaining: 1m 28s
30:	test: 0.7532984	best: 0.7532984 (30)	total: 2.89s	remaining: 1m 25s
40:	test: 0.7542079	best: 0.7542079 (40)	total: 3.83s	remaining: 1m 24s
50:	test: 0.7548595	best: 0.7548595 (50)	total: 4.73s	remaining: 1m 23s
60:	test: 0.7552981	best: 0.7552981 (60)	total: 5.72s	remaining: 1m 23s
70:	test: 0.7556330	best: 0.7556330 (70)	total: 6.66s	remaining: 1m 22s
80:	test: 0.7558872	best: 0.7558872 (80)	total: 7.55s	remaining: 1m 20s
90:	test: 0.7560793	best: 0.7560793 (90)	total: 8.46s	remaining: 1m 19s
100:	test: 0.7562253	best: 0.7562253 (100)	total: 9.35s	remaining: 1m 18s
110:	test: 0.7564350	best: 0.7564350 (110)	total: 10.3s	remaining: 1m 17s
120:	test: 0.7567019	best: 0.7567019 (120)	total: 11.2s	remaining: 1m 16s
130:	test: 0.7567931	best: 0.7567931 (130)	total: 12.1s	remaining: 1m 15s
140:	test: 0.7568907	best: 0.7568907 (140)	total: 12.9s	remaining: 1m 14s
150:	test: 0.7570100	best: 0.7570100 (150)	total: 13.8s	remaining: 1m 12s
160:	test: 0.7571242	best: 0.7571242 (160)	total: 14.7s	remaining: 1m 11s
170:	test: 0.7572342	best: 0.7572342 (170)	total: 15.6s	remaining: 1m 10s
180:	test: 0.7573023	best: 0.7573082 (177)	total: 16.4s	remaining: 1m 9s
190:	test: 0.7575628	best: 0.7575628 (190)	total: 17.3s	remaining: 1m 8s
200:	test: 0.7577637	best: 0.7577637 (200)	total: 18.2s	remaining: 1m 7s
210:	test: 0.7579436	best: 0.7579436 (210)	total: 19.1s	remaining: 1m 6s
220:	test: 0.7580633	best: 0.7580633 (220)	total: 20s	remaining: 1m 5s
230:	test: 0.7582129	best: 0.7582129 (230)	total: 21s	remaining: 1m 5s
240:	test: 0.7583859	best: 0.7583859 (240)	total: 21.9s	remaining: 1m 4s
250:	test: 0.7585475	best: 0.7585475 (250)	total: 22.8s	remaining: 1m 3s
260:	test: 0.7586834	best: 0.7586834 (260)	total: 23.7s	remaining: 1m 2s
270:	test: 0.7587153	best: 0.7587153 (270)	total: 24.6s	remaining: 1m 1s
280:	test: 0.7587828	best: 0.7587828 (280)	total: 25.5s	remaining: 1m
290:	test: 0.7588495	best: 0.7588495 (290)	total: 26.4s	remaining: 59.7s
300:	test: 0.7588989	best: 0.7588989 (300)	total: 27.3s	remaining: 58.9s
310:	test: 0.7589380	best: 0.7589546 (304)	total: 28.2s	remaining: 57.9s
320:	test: 0.7590052	best: 0.7590082 (316)	total: 29.2s	remaining: 57.1s
330:	test: 0.7590571	best: 0.7590571 (330)	total: 30.1s	remaining: 56.2s
340:	test: 0.7591235	best: 0.7591235 (340)	total: 31s	remaining: 55.3s
350:	test: 0.7591345	best: 0.7591394 (349)	total: 32s	remaining: 54.5s
360:	test: 0.7591661	best: 0.7591661 (360)	total: 32.9s	remaining: 53.6s
370:	test: 0.7592562	best: 0.7592562 (370)	total: 33.8s	remaining: 52.7s
380:	test: 0.7592848	best: 0.7592848 (380)	total: 34.7s	remaining: 51.7s
390:	test: 0.7592758	best: 0.7592848 (380)	total: 35.6s	remaining: 50.8s
400:	test: 0.7592830	best: 0.7592848 (380)	total: 36.6s	remaining: 50s
410:	test: 0.7592960	best: 0.7592992 (409)	total: 37.5s	remaining: 49.1s
420:	test: 0.7593283	best: 0.7593283 (420)	total: 38.4s	remaining: 48.1s
430:	test: 0.7593580	best: 0.7593580 (430)	total: 39.4s	remaining: 47.3s
440:	test: 0.7593834	best: 0.7593861 (434)	total: 40.3s	remaining: 46.4s
450:	test: 0.7594171	best: 0.7594171 (450)	total: 41.1s	remaining: 45.4s
460:	test: 0.7594631	best: 0.7594631 (460)	total: 42s	remaining: 44.5s
470:	test: 0.7594487	best: 0.7594725 (467)	total: 43s	remaining: 43.6s
480:	test: 0.7594634	best: 0.7594725 (467)	total: 43.8s	remaining: 42.7s
490:	test: 0.7595203	best: 0.7595203 (490)	total: 44.7s	remaining: 41.7s
500:	test: 0.7595589	best: 0.7595589 (500)	total: 45.6s	remaining: 40.8s
510:	test: 0.7595617	best: 0.7595705 (506)	total: 46.5s	remaining: 39.9s
520:	test: 0.7595413	best: 0.7595748 (516)	total: 47.4s	remaining: 38.9s
530:	test: 0.7595508	best: 0.7595748 (516)	total: 48.3s	remaining: 38s
540:	test: 0.7595709	best: 0.7595873 (535)	total: 49.2s	remaining: 37.1s
550:	test: 0.7595485	best: 0.7595873 (535)	total: 50.1s	remaining: 36.2s
560:	test: 0.7595351	best: 0.7595873 (535)	total: 51s	remaining: 35.3s
570:	test: 0.7595470	best: 0.7595873 (535)	total: 51.9s	remaining: 34.4s
580:	test: 0.7595212	best: 0.7595873 (535)	total: 52.8s	remaining: 33.4s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.7595873345
bestIteration = 535

Shrink model to first 536 iterations.

In [49]:
name = 'baseline_1'
model.save_model(f"{name}.bin")

In [50]:
fi = model.get_feature_importance(eval_pool, prettified=True)
fi.head(50)

                     Feature Id  Importances
0      sum_discount_price_order    14.477310
1            num_products_order    13.692681
2      max_discount_price_order    11.348042
3         days_since_last_order     9.322558
4        days_since_first_order     6.393884
5       days_since_last_to_cart     5.546367
6          num_products_to_cart     5.111923
7                    num_search     5.085638
8    sum_discount_price_to_cart     4.296546
9            num_products_click     3.909231
10   max_discount_price_to_cart     3.234873
11      days_since_first_search     3.003690
12       days_since_last_search     2.435931
13     days_since_first_to_cart     2.229672
14     sum_discount_price_click     1.832769
15        days_since_last_click     1.789733
16     max_discount_price_click     1.535909
17       days_since_first_click     1.436146
18        num_products_favorite     0.731921
19     days_since_last_favorite     0.720732
20  max_discount_price_favorite     0.664885
21  sum_discount_price_favorite     0.604763
22    days_since_first_favorite     0.594795

In [51]:
test_users_submission = (
    pd.read_csv(os.path.join(data_path, 'test_users.csv'))
)

In [52]:
actions_aggs = {}
actions_id_to_suf = {
    1: "click",
    2: "favorite",
    3: "order",
    5: "to_cart",
}

for id_, suf in actions_id_to_suf.items():
    filtered_data = actions_history[
        (actions_history['timestamp'].dt.date <= val_end_date) &
        (actions_history['timestamp'].dt.date >= val_end_date - timedelta(days=30 * 5)) &
        (actions_history['action_type_id'] == id_)
    ]
    
    merged_data = filtered_data.merge(
        product_information[['product_id', 'discount_price']],
        on='product_id',
        how='left'
    )
    
    aggs = merged_data.groupby('user_id', as_index=False).agg(
        num_products=('product_id', 'count'),
        sum_discount_price=('discount_price', 'sum'),
        max_discount_price=('discount_price', 'max'),
        last_time=('timestamp', 'max'),
        first_time=('timestamp', 'min')
    )
    
    aggs = aggs.rename(columns={
        'num_products': f'num_products_{suf}',
        'sum_discount_price': f'sum_discount_price_{suf}',
        'max_discount_price': f'max_discount_price_{suf}',
        'last_time': f'last_{suf}_time',
        'first_time': f'first_{suf}_time'
    })
    
    aggs[f'days_since_last_{suf}'] = (pd.to_datetime(test_start_date) - aggs[f'last_{suf}_time']).dt.days
    aggs[f'days_since_first_{suf}'] = (pd.to_datetime(test_start_date) - aggs[f'first_{suf}_time']).dt.days
    
    aggs = aggs[[
        'user_id',
        f'num_products_{suf}',
        f'sum_discount_price_{suf}',
        f'max_discount_price_{suf}',
        f'days_since_last_{suf}',
        f'days_since_first_{suf}'
    ]]
    
    actions_aggs[id_] = aggs

In [53]:
# search_aggs
id_ = 4
suf = 'search'

filtered_data = search_history[
    (search_history['action_type_id'] == id_) &
    (search_history['timestamp'].dt.date <= val_end_date) &
    (search_history['timestamp'].dt.date >= val_end_date - timedelta(days=30 * 5))
]
aggs = filtered_data.groupby('user_id', as_index=False).agg(
    num_search=('search_query', 'count'),
    last_search_time=('timestamp', 'max'),
    first_search_time=('timestamp', 'min')
)

aggs = aggs.rename(columns={
    'num_search': f'num_{suf}',
    'last_search_time': f'last_{suf}_time',
    'first_search_time': f'first_{suf}_time'
})

aggs[f'days_since_last_{suf}'] = (pd.to_datetime(test_start_date) - aggs[f'last_{suf}_time']).dt.days
aggs[f'days_since_first_{suf}'] = (pd.to_datetime(test_start_date) - aggs[f'first_{suf}_time']).dt.days

aggs = aggs[[
    'user_id',
    f'num_{suf}',
    f'days_since_last_{suf}',
    f'days_since_first_{suf}'
]]

actions_aggs[id_] = aggs

In [54]:
df = test_users_submission

for _, actions_aggs_df in actions_aggs.items():
    df = df.merge(actions_aggs_df, on='user_id', how='left')

In [55]:
df_pd = df

In [56]:
df_pd['predict'] = model.predict(df_pd[cols], prediction_type="Probability")[:, 1]

In [57]:
df_pd[['user_id', 'predict']].to_csv('prep_res.csv', index=False)