# Дневник

--------------------------------------------

1) Сначала я решил попробовать без генерации новых фичей и без подкрутки параметров запустить LightGBM и посмотреть, что будет. Скор 0.720
При этом пока еще нет ни генерации новых признаков, ни использования таблицы поиска и тд. Попробуем добавить.

2) Просто запускаем код из "baseline_1_pandas.ipynb" и получаем обещаный скор 0.817

3) Оптюнил 10 минут, безрезультатно. Буду придумывать новые признаки. Думаю начать с кластеризации и knn.

--------------------------------------------

In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltimport
import matplotlib as mpl, seaborn as sns
import matplotlib.pyplot as plt

# настройка размера шрифта легенды
mpl.rcParams['legend.title_fontsize'] = 15
mpl.rcParams['legend.fontsize'] = 15

import warnings
warnings.filterwarnings('ignore')

In [108]:
df_actions = pd.read_parquet("actions_history/part-00052-554bab9f-fda0-44cc-935e-2114ebd268b9-c000.snappy.parquet")

df_actions.head(5)

,user_id,timestamp,product_id,page_product_id,action_type_id,widget_name_id
0,2346229,2024-03-11 13:35:13,148481529,1.487368e+08,1,6
1,1039167,2024-04-14 18:59:43,167653046,1.391982e+09,1,6
2,2346229,2024-03-27 13:10:44,266202966,1.621779e+08,1,6
3,2774405,2024-04-04 08:47:07,248896971,4.649541e+08,1,6
4,7064286,2024-06-11 19:30:22,321861178,8.577713e+08,1,6

In [109]:
df_search = pd.read_parquet("search_history/part-00000-858f060b-ea82-431a-bbdb-cac1419dd3eb-c000.snappy.parquet")

df_search.head(5)

,user_id,timestamp,search_query,action_type_id,widget_name_id
0,1403825,2024-03-02 19:16:19,колонка алиса,4,23
1,10278224,2024-07-29 12:10:06,батончик,4,23
2,8162261,2024-04-24 06:27:10,hipp combiotic 1,4,23
3,10909038,2024-07-12 04:00:02,бриошь,4,23
4,9148523,2024-04-28 06:58:12,нарезка,4,23

In [110]:
def get_df_info(df: pd.DataFrame, /, thr=0.5, *args, **kwargs) -> pd.DataFrame:
    '''
    Описание:
    Функция выводит статистику о колонках датафрейма в виде датафрейма.
    Результат содержит информацию о типе данных, об уникальных значениях,
    о количестве NaN, нулей и пустых строк,
    о максимальном значении и его частоте,
    два различных примера данных,
    степень адекватности фичи.
    ...

    df: исходный датафрейм,
    thr: граничное значения для опредления адекватность фичи.
    ...

    returns: pd.DataFrame со сборной информацией о датафрейме.
    '''
    
    df_size = df.shape[0]
    columns = df.columns
    numeric_columns = df.select_dtypes(np.number).columns
    string_columns = np.concatenate((df.select_dtypes('string').columns, df.select_dtypes('object').columns))
    result_columns = ["datatype", "nunique", "nan", "zero", "empty_str", "vc_max", "vc_max_freq", "example_1", "example_2", "trash_score"]
    result_dict = dict(zip(result_columns, [[] for _ in range(len(result_columns))]))
    
    for column in columns:
        
        result_dict["datatype"].append(df[column].dtype.name)
        result_dict["nunique"].append(df[column].unique().size)
        
        tmp = df[column].isna().sum()
        push_nan_tmp = tmp / df_size
        push = f"n: {push_nan_tmp: 0.3f}" if tmp > 0 else "-1"
        result_dict["nan"].append(push)

        tmp = column in numeric_columns
        if tmp:
            tmp = df[column].eq(0).sum()
            push_zero_tmp = tmp / df_size
            push = f"z: {push_zero_tmp: 0.3f}" if tmp > 0 else "-1"
        else:
            push_zero_tmp = 0
            push = "-1"
        result_dict["zero"].append(push)

        tmp = column in string_columns
        if tmp:
            tmp = df[column].eq("").sum()
            push_empty_str_tmp = tmp / df_size
            push = f"e: {push_empty_str_tmp: 0.3f}" if tmp > 0 else "-1"
        else:
            push_empty_str_tmp = 0
            push = "-1"
        result_dict["empty_str"].append(push)

        push = df[column].value_counts(dropna=True)
        push_index = push.index[0]
        push_freq = push.values[0]
        result_dict["vc_max"].append(push_index)
        push_vc_max_freq_tmp = push_freq / df_size
        result_dict["vc_max_freq"].append(f"n: {push_vc_max_freq_tmp: 0.3f}")

        tmp = df[column].dropna().unique()
        match tmp.size:
            case 0:
                push = 2 * ["No example"]
            case 1:
                push = [tmp[0], "No example"]
            case _:
                push = [tmp[0], tmp[1]]
        result_dict["example_1"].append(push[0])
        result_dict["example_2"].append(push[1])

        tmp = max(
            push_nan_tmp + push_zero_tmp + push_empty_str_tmp,\
            push_vc_max_freq_tmp if push_vc_max_freq_tmp > thr else 0,
        )
        push = f"{tmp: 0.3f}" if tmp > 0 else "-1"
        result_dict["trash_score"].append(push)

    result_df = pd.DataFrame(result_dict, index=columns).sort_values("trash_score", key=lambda x: -np.float_(x))
    
    return result_df

In [111]:
# Результат

from IPython.display import display

display(get_df_info(df_actions).style.bar(subset=['nunique'], cmap="bwr"))

In [112]:
# Результат

from IPython.display import display

display(get_df_info(df_search).style.bar(subset=['nunique'], cmap="bwr"))

In [113]:
df_actions[df_actions['timestamp'] >= '2024-04-28 23:59:59']

,user_id,timestamp,product_id,page_product_id,action_type_id,widget_name_id
4,7064286,2024-06-11 19:30:22,321861178,8.577713e+08,1,6
6,2397776,2024-05-18 13:51:43,749509687,1.423021e+09,1,6
7,2346229,2024-05-23 20:02:53,173187079,2.428874e+08,1,6
8,2346229,2024-06-10 22:06:07,148590542,6.468289e+08,1,6
9,5703773,2024-07-03 11:39:39,1213043165,1.451046e+09,1,6
...,...,...,...,...,...,...
110063,11144632,2024-05-12 11:41:00,1214453307,7.125483e+08,5,6
110064,7914838,2024-07-05 05:00:06,857864096,1.463954e+08,5,6
110065,10861126,2024-07-01 02:04:08,320362167,6.765257e+08,5,6
110066,9228901,2024-05-10 22:08:28,200758355,1.459232e+08,5,6
110067,9646676,2024-07-02 10:23:58,733591169,5.991311e+08,5,6

# Base code

In [114]:
import polars as pl
import pandas as pd
import numpy as np
import catboost
import os
from datetime import date, timedelta

In [115]:
test_start_date = date(2024, 8, 1)
val_start_date = date(2024, 7, 1)
val_end_date = date(2024, 7, 31)
train_end_date = date(2024, 6, 30)
data_path = './'

In [116]:
actions_history = pd.read_parquet(os.path.join(data_path, 'actions_history'))
search_history = pd.read_parquet(os.path.join(data_path, 'search_history'))
product_information = pd.read_csv(os.path.join(data_path, 'product_information.csv'))

In [117]:
pd.read_csv(os.path.join(data_path, 'action_type_info.csv'))

  action_type  action_type_id
0       click               1
1    favorite               2
2       order               3
3      search               4
4     to_cart               5
5        view               6

In [118]:
val_target = (
    actions_history[
        (actions_history['timestamp'].dt.date >= val_start_date) &
        (actions_history['timestamp'].dt.date <= val_end_date)
    ]
    .assign(has_order=lambda x: (x['action_type_id'] == 3).astype(int))
    .groupby('user_id', as_index=False)
    .agg(target=('has_order', 'max'))
)

# Simple pipeline

## Feats

In [119]:
actions_aggs = {}
actions_id_to_suf = {
    1: "click",
    2: "favorite",
    3: "order",
    5: "to_cart",
}

for id_, suf in actions_id_to_suf.items():
    filtered_data = actions_history[
        (actions_history['timestamp'].dt.date <= train_end_date) &
        (actions_history['timestamp'].dt.date >= train_end_date - timedelta(days=30 * 4)) &
        (actions_history['action_type_id'] == id_)
    ]
    
    merged_data = filtered_data.merge(
        product_information[['product_id', 'discount_price']],
        on='product_id',
        how='left'
    )
    
    aggs = merged_data.groupby('user_id', as_index=False).agg(
        num_products=('product_id', 'count'),
        sum_discount_price=('discount_price', 'sum'),
        max_discount_price=('discount_price', 'max'),
        last_time=('timestamp', 'max'),
        first_time=('timestamp', 'min')
    )
    
    aggs = aggs.rename(columns={
        'num_products': f'num_products_{suf}',
        'sum_discount_price': f'sum_discount_price_{suf}',
        'max_discount_price': f'max_discount_price_{suf}',
        'last_time': f'last_{suf}_time',
        'first_time': f'first_{suf}_time'
    })
    
    aggs[f'days_since_last_{suf}'] = (pd.to_datetime(val_start_date) - aggs[f'last_{suf}_time']).dt.days
    aggs[f'days_since_first_{suf}'] = (pd.to_datetime(val_start_date) - aggs[f'first_{suf}_time']).dt.days
    
    aggs = aggs[[
        'user_id',
        f'num_products_{suf}',
        f'sum_discount_price_{suf}',
        f'max_discount_price_{suf}',
        f'days_since_last_{suf}',
        f'days_since_first_{suf}'
    ]]
    
    actions_aggs[id_] = aggs

In [121]:
# search_aggs
id_ = 4
suf = 'search'

filtered_data = search_history[
    (search_history['action_type_id'] == id_) &
    (search_history['timestamp'].dt.date <= train_end_date) &
    (search_history['timestamp'].dt.date >= train_end_date - timedelta(days=30 * 4))
]
aggs = filtered_data.groupby('user_id', as_index=False).agg(
    num_search=('search_query', 'count'),
    last_search_time=('timestamp', 'max'),
    first_search_time=('timestamp', 'min')
)

aggs = aggs.rename(columns={
    'num_search': f'num_{suf}',
    'last_search_time': f'last_{suf}_time',
    'first_search_time': f'first_{suf}_time'
})

aggs[f'days_since_last_{suf}'] = (pd.to_datetime(val_start_date) - aggs[f'last_{suf}_time']).dt.days
aggs[f'days_since_first_{suf}'] = (pd.to_datetime(val_start_date) - aggs[f'first_{suf}_time']).dt.days

aggs = aggs[[
    'user_id',
    f'num_{suf}',
    f'days_since_last_{suf}',
    f'days_since_first_{suf}'
]]

actions_aggs[id_] = aggs

In [122]:
df = val_target

for _, actions_aggs_df in actions_aggs.items():
    df = df.merge(actions_aggs_df, on='user_id', how='left')

In [123]:
df_pd = df
mask = df_pd.user_id % 10 <= 6

In [124]:
cols = [
    'num_products_click', 
    'sum_discount_price_click', 'max_discount_price_click',
    'days_since_last_click', 'days_since_first_click',
    'num_products_favorite', 'sum_discount_price_favorite',
    'max_discount_price_favorite', 'days_since_last_favorite',
    'days_since_first_favorite', 'num_products_order',
    'sum_discount_price_order', 'max_discount_price_order',
    'days_since_last_order', 'days_since_first_order',
    'num_products_to_cart', 'sum_discount_price_to_cart',
    'max_discount_price_to_cart', 'days_since_last_to_cart',
    'days_since_first_to_cart', 'num_search', 'days_since_last_search',
    'days_since_first_search'
]

In [125]:
train_pool = catboost.Pool(
    df_pd.loc[mask, cols],
    label=df_pd.loc[mask].target,
)
eval_pool = catboost.Pool(
    df_pd.loc[~mask, cols],
    label=df_pd.loc[~mask].target,
)

In [139]:
train_pool.shape, eval_pool.shape

((1311636, 23), (563320, 23))

--------------------------

-----------------------------------------

-----------------------------------------

In [140]:
import optuna
from optuna.samplers import TPESampler

def objective(trial):
    params = {
        'iterations': trial.suggest_int('iterations', 100, 1000),
        'depth': trial.suggest_int('depth', 4, 10),
        'learning_rate': trial.suggest_float('learning_rate', 0.01, 0.3, log=True),
        'l2_leaf_reg': trial.suggest_float('l2_leaf_reg', 1e-3, 10.0, log=True),
        'random_strength': trial.suggest_float('random_strength', 1e-3, 10.0, log=True),
        'bagging_temperature': trial.suggest_float('bagging_temperature', 0.0, 1.0),
        'border_count': trial.suggest_int('border_count', 32, 255),
        'random_state': 42,
        'eval_metric': 'AUC',
        'loss_function': 'Logloss',
        'task_type': 'CPU',
        'early_stopping_rounds': 50,
    }
    
    model = catboost.CatBoostClassifier(**params)
    model.fit(
        train_pool,
        eval_set=eval_pool,
        verbose=False,
    )
    return model.get_best_score()['validation']['AUC']

# Оптимизация (10 минут)
study = optuna.create_study(
    direction='maximize',
    sampler=TPESampler(seed=42)
)
study.optimize(objective, timeout=600)  # 600 секунд = 10 минут

# Вывод лучших параметров
print("Best trial:")
trial = study.best_trial
print(f"  AUC: {trial.value}")
print("  Params: ")
for key, value in trial.params.items():
    print(f"    {key}: {value}")

# Обучение финальной модели с лучшими параметрами
best_params = {
    'iterations': trial.params['iterations'],
    'depth': trial.params['depth'],
    'learning_rate': trial.params['learning_rate'],
    'l2_leaf_reg': trial.params['l2_leaf_reg'],
    'random_strength': trial.params['random_strength'],
    'bagging_temperature': trial.params['bagging_temperature'],
    'border_count': trial.params['border_count'],
    'random_state': 42,
    'eval_metric': 'AUC',
    'loss_function': 'Logloss',
    'task_type': 'CPU',
}

model = catboost.CatBoostClassifier(**best_params)

[I 2025-03-24 20:32:47,121] A new study created in memory with name: no-name-b8f0d9b3-0b20-442e-ad34-3b8477d6854d
[I 2025-03-24 20:33:10,173] Trial 0 finished with value: 0.7586332259801851 and parameters: {'iterations': 437, 'depth': 10, 'learning_rate': 0.1205712628744377, 'l2_leaf_reg': 0.24810409748678125, 'random_strength': 0.004207988669606638, 'bagging_temperature': 0.15599452033620265, 'border_count': 45}. Best is trial 0 with value: 0.7586332259801851.
[I 2025-03-24 20:33:36,325] Trial 1 finished with value: 0.7585735605738123 and parameters: {'iterations': 880, 'depth': 8, 'learning_rate': 0.11114989443094977, 'l2_leaf_reg': 0.0012087541473056963, 'random_strength': 7.579479953348009, 'bagging_temperature': 0.8324426408004217, 'border_count': 79}. Best is trial 0 with value: 0.7586332259801851.
[I 2025-03-24 20:33:51,631] Trial 2 finished with value: 0.7567969209943044 and parameters: {'iterations': 263, 'depth': 5, 'learning_rate': 0.028145092716060652, 'l2_leaf_reg': 0.12561043700013558, 'random_strength': 0.05342937261279776, 'bagging_temperature': 0.2912291401980419, 'border_count': 169}. Best is trial 0 with value: 0.7586332259801851.
[I 2025-03-24 20:34:05,995] Trial 3 finished with value: 0.7570868686188472 and parameters: {'iterations': 225, 'depth': 6, 'learning_rate': 0.03476649150592621, 'l2_leaf_reg': 0.06672367170464207, 'random_strength': 1.382623217936987, 'bagging_temperature': 0.19967378215835974, 'border_count': 147}. Best is trial 0 with value: 0.7586332259801851.
[I 2025-03-24 20:34:38,726] Trial 4 finished with value: 0.7588624116168292 and parameters: {'iterations': 633, 'depth': 4, 'learning_rate': 0.07896186801026692, 'l2_leaf_reg': 0.004809461967501573, 'random_strength': 0.0018205657658407262, 'bagging_temperature': 0.9488855372533332, 'border_count': 248}. Best is trial 4 with value: 0.7588624116168292.
[I 2025-03-24 20:35:30,535] Trial 5 finished with value: 0.7579723931896373 and parameters: {'iterations': 828, 'depth': 6, 'learning_rate': 0.013940346079873234, 'l2_leaf_reg': 0.5456725485601477, 'random_strength': 0.057624872164786026, 'bagging_temperature': 0.12203823484477883, 'border_count': 142}. Best is trial 4 with value: 0.7588624116168292.
[I 2025-03-24 20:35:47,687] Trial 6 finished with value: 0.7573646590527283 and parameters: {'iterations': 130, 'depth': 10, 'learning_rate': 0.024112898115291985, 'l2_leaf_reg': 0.4467752817973907, 'random_strength': 0.017654048052495083, 'bagging_temperature': 0.5200680211778108, 'border_count': 154}. Best is trial 4 with value: 0.7588624116168292.
[I 2025-03-24 20:36:18,973] Trial 7 finished with value: 0.7588733157180174 and parameters: {'iterations': 266, 'depth': 10, 'learning_rate': 0.13962563737015762, 'l2_leaf_reg': 5.727904470799623, 'random_strength': 3.7958531426706403, 'bagging_temperature': 0.5978999788110851, 'border_count': 238}. Best is trial 7 with value: 0.7588733157180174.
[I 2025-03-24 20:36:29,446] Trial 8 finished with value: 0.7537899987208914 and parameters: {'iterations': 179, 'depth': 5, 'learning_rate': 0.011662890273931383, 'l2_leaf_reg': 0.02001342062287998, 'random_strength': 0.03586816498627549, 'bagging_temperature': 0.2713490317738959, 'border_count': 217}. Best is trial 7 with value: 0.7588733157180174.
[I 2025-03-24 20:36:53,524] Trial 9 finished with value: 0.7584909357530094 and parameters: {'iterations': 421, 'depth': 5, 'learning_rate': 0.06333268775321843, 'l2_leaf_reg': 0.0036618192203924276, 'random_strength': 1.6172900811143154, 'bagging_temperature': 0.07455064367977082, 'border_count': 253}. Best is trial 7 with value: 0.7588733157180174.
[I 2025-03-24 20:37:04,246] Trial 10 finished with value: 0.7590125603351474 and parameters: {'iterations': 562, 'depth': 8, 'learning_rate': 0.2704729722717779, 'l2_leaf_reg': 6.615455431119847, 'random_strength': 0.40501042591416037, 'bagging_temperature': 0.5752080668152728, 'border_count': 195}. Best is trial 10 with value: 0.7590125603351474.
[I 2025-03-24 20:37:18,995] Trial 11 finished with value: 0.7588151764700103 and parameters: {'iterations': 662, 'depth': 8, 'learning_rate': 0.2975261995001501, 'l2_leaf_reg': 9.583367070522575, 'random_strength': 0.5208160520832837, 'bagging_temperature': 0.5745188822465942, 'border_count': 194}. Best is trial 10 with value: 0.7590125603351474.
[I 2025-03-24 20:37:27,838] Trial 12 finished with value: 0.7586022627607587 and parameters: {'iterations': 419, 'depth': 9, 'learning_rate': 0.29469834695944336, 'l2_leaf_reg': 9.895877259517988, 'random_strength': 0.3027193532038916, 'bagging_temperature': 0.6641089222548421, 'border_count': 209}. Best is trial 10 with value: 0.7590125603351474.
[I 2025-03-24 20:37:48,267] Trial 13 finished with value: 0.758877304193186 and parameters: {'iterations': 575, 'depth': 8, 'learning_rate': 0.1838693722476903, 'l2_leaf_reg': 2.441860472778011, 'random_strength': 8.111809235165174, 'bagging_temperature': 0.6975632014481044, 'border_count': 110}. Best is trial 10 with value: 0.7590125603351474.
[I 2025-03-24 20:38:02,435] Trial 14 finished with value: 0.7590121353852929 and parameters: {'iterations': 730, 'depth': 8, 'learning_rate': 0.18872791391983673, 'l2_leaf_reg': 2.117900902792267, 'random_strength': 0.25232017517350297, 'bagging_temperature': 0.7468381319918438, 'border_count': 103}. Best is trial 10 with value: 0.7590125603351474.
[I 2025-03-24 20:38:20,904] Trial 15 finished with value: 0.7592654270284144 and parameters: {'iterations': 997, 'depth': 7, 'learning_rate': 0.19163228103827756, 'l2_leaf_reg': 1.5316743836726496, 'random_strength': 0.24615421371152674, 'bagging_temperature': 0.413414099692713, 'border_count': 107}. Best is trial 15 with value: 0.7592654270284144.
[I 2025-03-24 20:38:37,971] Trial 16 finished with value: 0.7591420702849505 and parameters: {'iterations': 972, 'depth': 7, 'learning_rate': 0.20773596483114087, 'l2_leaf_reg': 1.4553150489952984, 'random_strength': 0.20809622306598433, 'bagging_temperature': 0.4152331370760913, 'border_count': 115}. Best is trial 15 with value: 0.7592654270284144.
[I 2025-03-24 20:39:09,825] Trial 17 finished with value: 0.7592921646658533 and parameters: {'iterations': 960, 'depth': 7, 'learning_rate': 0.08100433988916213, 'l2_leaf_reg': 1.1072448678802878, 'random_strength': 0.014916789642904925, 'bagging_temperature': 0.38673308204648565, 'border_count': 64}. Best is trial 17 with value: 0.7592921646658533.
[I 2025-03-24 20:40:05,258] Trial 18 finished with value: 0.759390314019857 and parameters: {'iterations': 988, 'depth': 7, 'learning_rate': 0.04164128191978161, 'l2_leaf_reg': 0.9676806778657945, 'random_strength': 0.008609546931308934, 'bagging_temperature': 0.3887691947863863, 'border_count': 34}. Best is trial 18 with value: 0.759390314019857.
[I 2025-03-24 20:40:57,058] Trial 19 finished with value: 0.7592648069495928 and parameters: {'iterations': 838, 'depth': 6, 'learning_rate': 0.04323444823345438, 'l2_leaf_reg': 0.04784474921341449, 'random_strength': 0.009684973794161023, 'bagging_temperature': 0.38272223261466665, 'border_count': 45}. Best is trial 18 with value: 0.759390314019857.
[I 2025-03-24 20:41:32,589] Trial 20 finished with value: 0.7593677260972025 and parameters: {'iterations': 907, 'depth': 7, 'learning_rate': 0.07768129142413341, 'l2_leaf_reg': 0.6288654366655293, 'random_strength': 0.006567919987784168, 'bagging_temperature': 0.0012576297506720624, 'border_count': 72}. Best is trial 18 with value: 0.759390314019857.
[I 2025-03-24 20:42:13,566] Trial 21 finished with value: 0.759484142977061 and parameters: {'iterations': 912, 'depth': 7, 'learning_rate': 0.075729831157199, 'l2_leaf_reg': 0.6899231656102568, 'random_strength': 0.0010424206868418812, 'bagging_temperature': 0.012255917793517201, 'border_count': 76}. Best is trial 21 with value: 0.759484142977061.
[I 2025-03-24 20:42:59,215] Trial 22 finished with value: 0.7593079370044675 and parameters: {'iterations': 754, 'depth': 6, 'learning_rate': 0.0490406858303424, 'l2_leaf_reg': 0.24293901478073654, 'random_strength': 0.0011570341281746139, 'bagging_temperature': 0.02033756731751328, 'border_count': 76}. Best is trial 21 with value: 0.759484142977061.

Best trial:
  AUC: 0.759484142977061
  Params:
    iterations: 912
    depth: 7
    learning_rate: 0.075729831157199
    l2_leaf_reg: 0.6899231656102568
    random_strength: 0.0010424206868418812
    bagging_temperature: 0.012255917793517201
    border_count: 76

-----------------------------------------

-----------------------------------------

-----------------------------------------

In [141]:
model.fit(
    train_pool, 
    eval_set=eval_pool,
    use_best_model=True,
    verbose=10,
    early_stopping_rounds=50,
)

0:	test: 0.7451601	best: 0.7451601 (0)	total: 62.7ms	remaining: 57.1s
10:	test: 0.7520221	best: 0.7520221 (10)	total: 695ms	remaining: 56.9s
20:	test: 0.7546343	best: 0.7546343 (20)	total: 1.38s	remaining: 58.4s
30:	test: 0.7555192	best: 0.7555192 (30)	total: 2.03s	remaining: 57.8s
40:	test: 0.7562175	best: 0.7562175 (40)	total: 2.7s	remaining: 57.3s
50:	test: 0.7566588	best: 0.7566588 (50)	total: 3.33s	remaining: 56.2s
60:	test: 0.7569899	best: 0.7569899 (60)	total: 3.97s	remaining: 55.4s
70:	test: 0.7572295	best: 0.7572295 (70)	total: 4.61s	remaining: 54.6s
80:	test: 0.7574413	best: 0.7574413 (80)	total: 5.24s	remaining: 53.7s
90:	test: 0.7575862	best: 0.7575862 (90)	total: 5.87s	remaining: 52.9s
100:	test: 0.7578104	best: 0.7578104 (100)	total: 6.51s	remaining: 52.3s
110:	test: 0.7579601	best: 0.7579605 (108)	total: 7.14s	remaining: 51.5s
120:	test: 0.7580781	best: 0.7580781 (120)	total: 7.79s	remaining: 50.9s
130:	test: 0.7581941	best: 0.7581941 (130)	total: 8.42s	remaining: 50.2s
140:	test: 0.7583014	best: 0.7583014 (140)	total: 9.06s	remaining: 49.5s
150:	test: 0.7584032	best: 0.7584057 (148)	total: 9.7s	remaining: 48.9s
160:	test: 0.7585502	best: 0.7585506 (158)	total: 10.3s	remaining: 48.2s
170:	test: 0.7586235	best: 0.7586235 (170)	total: 10.9s	remaining: 47.5s
180:	test: 0.7586952	best: 0.7586952 (180)	total: 11.6s	remaining: 46.9s
190:	test: 0.7587249	best: 0.7587386 (186)	total: 12.3s	remaining: 46.2s
200:	test: 0.7587772	best: 0.7587772 (200)	total: 12.9s	remaining: 45.7s
210:	test: 0.7588080	best: 0.7588102 (208)	total: 13.5s	remaining: 45s
220:	test: 0.7588579	best: 0.7588701 (219)	total: 14.2s	remaining: 44.3s
230:	test: 0.7589384	best: 0.7589389 (229)	total: 14.8s	remaining: 43.7s
240:	test: 0.7589838	best: 0.7589838 (240)	total: 15.4s	remaining: 43s
250:	test: 0.7590097	best: 0.7590138 (249)	total: 16.1s	remaining: 42.3s
260:	test: 0.7590454	best: 0.7590454 (260)	total: 16.7s	remaining: 41.7s
270:	test: 0.7590761	best: 0.7590799 (269)	total: 17.3s	remaining: 41s
280:	test: 0.7590980	best: 0.7591181 (278)	total: 18s	remaining: 40.4s
290:	test: 0.7590951	best: 0.7591181 (278)	total: 18.7s	remaining: 39.8s
300:	test: 0.7591732	best: 0.7591975 (297)	total: 19.3s	remaining: 39.2s
310:	test: 0.7591901	best: 0.7591975 (297)	total: 20s	remaining: 38.6s
320:	test: 0.7592412	best: 0.7592412 (320)	total: 20.6s	remaining: 37.9s
330:	test: 0.7592411	best: 0.7592464 (326)	total: 21.2s	remaining: 37.3s
340:	test: 0.7593005	best: 0.7593005 (340)	total: 21.9s	remaining: 36.6s
350:	test: 0.7592897	best: 0.7593081 (342)	total: 22.5s	remaining: 35.9s
360:	test: 0.7593044	best: 0.7593081 (342)	total: 23.1s	remaining: 35.3s
370:	test: 0.7593083	best: 0.7593099 (368)	total: 23.8s	remaining: 34.6s
380:	test: 0.7592968	best: 0.7593157 (374)	total: 24.4s	remaining: 34s
390:	test: 0.7593058	best: 0.7593197 (387)	total: 25s	remaining: 33.4s
400:	test: 0.7593431	best: 0.7593431 (400)	total: 25.7s	remaining: 32.8s
410:	test: 0.7593014	best: 0.7593431 (400)	total: 26.3s	remaining: 32.1s
420:	test: 0.7593185	best: 0.7593431 (400)	total: 27s	remaining: 31.5s
430:	test: 0.7593349	best: 0.7593431 (400)	total: 27.6s	remaining: 30.8s
440:	test: 0.7593626	best: 0.7593710 (439)	total: 28.3s	remaining: 30.2s
450:	test: 0.7593509	best: 0.7593710 (439)	total: 28.9s	remaining: 29.5s
460:	test: 0.7593760	best: 0.7593790 (458)	total: 29.5s	remaining: 28.9s
470:	test: 0.7593994	best: 0.7593994 (470)	total: 30.2s	remaining: 28.3s
480:	test: 0.7594115	best: 0.7594229 (473)	total: 30.8s	remaining: 27.6s
490:	test: 0.7593908	best: 0.7594234 (484)	total: 31.4s	remaining: 27s
500:	test: 0.7593894	best: 0.7594234 (484)	total: 32.1s	remaining: 26.3s
510:	test: 0.7594174	best: 0.7594234 (484)	total: 32.7s	remaining: 25.7s
520:	test: 0.7594256	best: 0.7594326 (512)	total: 33.4s	remaining: 25.1s
530:	test: 0.7594486	best: 0.7594486 (530)	total: 34s	remaining: 24.4s
540:	test: 0.7594742	best: 0.7594805 (537)	total: 34.6s	remaining: 23.8s
550:	test: 0.7594430	best: 0.7594841 (541)	total: 35.3s	remaining: 23.1s
560:	test: 0.7594205	best: 0.7594841 (541)	total: 35.9s	remaining: 22.5s
570:	test: 0.7594564	best: 0.7594841 (541)	total: 36.5s	remaining: 21.8s
580:	test: 0.7594438	best: 0.7594841 (541)	total: 37.2s	remaining: 21.2s
590:	test: 0.7594274	best: 0.7594841 (541)	total: 37.8s	remaining: 20.5s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.759484143
bestIteration = 541

Shrink model to first 542 iterations.

In [142]:
name = 'baseline_1'
model.save_model(f"{name}.bin")

In [143]:
fi = model.get_feature_importance(eval_pool, prettified=True)
fi.head(50)

                     Feature Id  Importances
0      sum_discount_price_order    22.098586
1            num_products_order    11.347212
2         days_since_last_order    10.142473
3    sum_discount_price_to_cart     6.933841
4        days_since_first_order     6.857207
5          num_products_to_cart     5.247860
6            num_products_click     5.214466
7                    num_search     5.094766
8       days_since_last_to_cart     3.937701
9       days_since_first_search     3.557167
10   max_discount_price_to_cart     3.114975
11       days_since_last_search     2.320480
12     max_discount_price_order     2.132320
13     days_since_first_to_cart     2.076823
14        days_since_last_click     2.048869
15       days_since_first_click     1.529047
16     max_discount_price_click     1.312401
17        num_products_favorite     1.106665
18     sum_discount_price_click     1.044508
19    days_since_first_favorite     1.000343
20     days_since_last_favorite     0.798210
21  max_discount_price_favorite     0.697175
22  sum_discount_price_favorite     0.386905

In [144]:
test_users_submission = (
    pd.read_csv(os.path.join(data_path, 'test_users.csv'))
)

In [145]:
actions_aggs = {}
actions_id_to_suf = {
    1: "click",
    2: "favorite",
    3: "order",
    5: "to_cart",
}

for id_, suf in actions_id_to_suf.items():
    filtered_data = actions_history[
        (actions_history['timestamp'].dt.date <= val_end_date) &
        (actions_history['timestamp'].dt.date >= val_end_date - timedelta(days=30 * 4)) &
        (actions_history['action_type_id'] == id_)
    ]
    
    merged_data = filtered_data.merge(
        product_information[['product_id', 'discount_price']],
        on='product_id',
        how='left'
    )
    
    aggs = merged_data.groupby('user_id', as_index=False).agg(
        num_products=('product_id', 'count'),
        sum_discount_price=('discount_price', 'sum'),
        max_discount_price=('discount_price', 'max'),
        last_time=('timestamp', 'max'),
        first_time=('timestamp', 'min')
    )
    
    aggs = aggs.rename(columns={
        'num_products': f'num_products_{suf}',
        'sum_discount_price': f'sum_discount_price_{suf}',
        'max_discount_price': f'max_discount_price_{suf}',
        'last_time': f'last_{suf}_time',
        'first_time': f'first_{suf}_time'
    })
    
    aggs[f'days_since_last_{suf}'] = (pd.to_datetime(test_start_date) - aggs[f'last_{suf}_time']).dt.days
    aggs[f'days_since_first_{suf}'] = (pd.to_datetime(test_start_date) - aggs[f'first_{suf}_time']).dt.days
    
    aggs = aggs[[
        'user_id',
        f'num_products_{suf}',
        f'sum_discount_price_{suf}',
        f'max_discount_price_{suf}',
        f'days_since_last_{suf}',
        f'days_since_first_{suf}'
    ]]
    
    actions_aggs[id_] = aggs

In [146]:
# search_aggs
id_ = 4
suf = 'search'

filtered_data = search_history[
    (search_history['action_type_id'] == id_) &
    (search_history['timestamp'].dt.date <= val_end_date) &
    (search_history['timestamp'].dt.date >= val_end_date - timedelta(days=30 * 4))
]
aggs = filtered_data.groupby('user_id', as_index=False).agg(
    num_search=('search_query', 'count'),
    last_search_time=('timestamp', 'max'),
    first_search_time=('timestamp', 'min')
)

aggs = aggs.rename(columns={
    'num_search': f'num_{suf}',
    'last_search_time': f'last_{suf}_time',
    'first_search_time': f'first_{suf}_time'
})

aggs[f'days_since_last_{suf}'] = (pd.to_datetime(test_start_date) - aggs[f'last_{suf}_time']).dt.days
aggs[f'days_since_first_{suf}'] = (pd.to_datetime(test_start_date) - aggs[f'first_{suf}_time']).dt.days

aggs = aggs[[
    'user_id',
    f'num_{suf}',
    f'days_since_last_{suf}',
    f'days_since_first_{suf}'
]]

actions_aggs[id_] = aggs

In [147]:
df = test_users_submission

for _, actions_aggs_df in actions_aggs.items():
    df = df.merge(actions_aggs_df, on='user_id', how='left')

In [148]:
df_pd = df

In [149]:
df_pd['predict'] = model.predict(df_pd[cols], prediction_type="Probability")[:, 1]

In [150]:
df_pd[['user_id', 'predict']].to_csv('prep_res.csv', index=False)